<div id="scenario" class="container-fluid">
    <div class="row">
        <div class="scene-1">
            <div class="header-section">
                <h1 class="header-title stylized text-center">Project Empathy</h1>
            </div>
            <div class="content">
                <div class="col-md-5">
                    <h2 class="stylized content-title">What is Empathy</h2>
                </div>
                <div class="col-md-7">
                    <p>1: The imaginative projection of a subjective state into an object so that the object appears to be infused with it.</p>
                    <p>2: The action of understanding, being aware sensitive to, and vicariously experiencing the feelings, thoughts, and experience of another of either the past or present without having the feelings, thoughts, and experience fully communicated in an objectively explicit manner, also: the capacity for this.</p>
                </div>
            </div>
            <div class="">

            </div>

            <div class="section-header">
                <h1 class="section-text text-center stylized" data-sr="wait 0.2s">Empathy =/= Sympathy</h1>
            </div>
        </div>

        <div class="scene-2">
            <div class="character-container">
                <div class="character-section col-md-6">
                    <div class="character-left">
                        <img data-sr="wait 0.2s" class="character center-block" src="/img/character/sympathizer-01.png"/>
                        <div class="message-content-left">
                            <img data-sr="wait 0.4s" src="/img/cloud/bubble-left.png" height="150px"/>
                            <span class="stylized">At least you're able to afford therapy</span>
                        </div>
                    </div>
                </div>
                <div class="character-section col-md-6">
                    <div class="character-right">
                        <img data-sr="wait 0.4s" class="character center-block" src="/img/character/sympathizer-02.png"/>
                        <div class="message-content-right">
                            <img data-sr="wait 0.6s" src="/img/cloud/bubble-right.png" height="150px"/>
                            <span class="stylized">At least you're not homeless.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="character-center">
                <div class="character-center-container">
                    <span data-stellar-ratio="0.5" class="stylized">Help Me :(</span>
                    <img data-stellar-ratio="0.5" src="/img/character/person-darkhole.png"/>
                </div>
            </div>
        </div>
        <div class="scene-3">

        </div>
        <div class="scene-4"></div>
        <div class="scene-5"></div>
    </div>
</div>
