//Global class
body
  font-family: 'Gotham-Medium'

.stylized
  font-family: 'HenchgirlComic'


#scenario
  .scene-1
    position: relative
    background-image: url('/img/background/PageDesign-p01-bg.png')
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    background-position: center
    padding: 75% 0
    .header-section
      position: absolute
      top: 13%
      transform: translateY(-13%)
      left: 0
      right: 0
      .header-title
        font-size: 38px
        color: white
    .content
      position: absolute
      top: 28%
      transform: translateY(-28%)
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
      width: 60%
      .content-title
        font-size: 65px
        text-align: right
        padding-right: 20px
      p
        font-size: 16px
    .section-header
      position: absolute
      top: 79.5%
      transform: translateY(-79.5%)
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
      .section-text
        color: white

  .scene-2
    position: relative
    background-image: url('/img/background/PageDesign-p02-bg.png')
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    background-position: center
    padding: 97% 0
    .character-container
      width: 100%
      position: absolute
      top: 0
      .character-left
        .character
          padding-right: 25%
          height: 550px
        .message-content-left
          position: absolute
          top: 50%
          transform: translateY(-50%)
          -webkit-transform: translateY(-50%)
          -moz-transform: translateY(-50%)
          -o-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          right: 0
          span
            display: block
            position: absolute
            top: 45%
            transform: translateY(-45%)
            color: white
            font-size: 17px
            width: 150px
            text-align: center
            margin: 0 auto
            left: 0
            right: 0
      .character-right
        .character
          padding-left: 25%
          height: 550px
        .message-content-right
          position: absolute
          top: 0
          left: 0
          span
            display: block
            position: absolute
            top: 45%
            transform: translateY(-45%)
            color: white
            font-size: 17px
            width: 150px
            text-align: center
            margin: 0 auto
            left: 0
            right: 0

    .character-center
      position: absolute
      top: 60%
      transform: translateY(-60%)
      width: 100%
      .character-center-container
        position: relative
        display: table
        margin: 0 auto
        left: 0
        right: 0
        span
          font-size: 20px
          position: absolute
          left: 30%
          transform: translateX(30%)
          color: white
        img
          height: 400px
          position: relative

  .scene-3
    position: relative
    background-image: url('/img/background/PageDesign-p03-bg.png')
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    background-position: center
    padding: 212% 0

  .scene-4
    position: relative
    background-image: url('/img/background/PageDesign-p04-bg.png')
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    background-position: center
    padding-top: 110%

  .scene-5
    position: relative
    background-image: url('/img/background/PageDesign-p05-bg.png')
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    background-position: center
    padding: 182% 0






