//Global class
body
  font-family: 'Gotham-Medium'

.stylized
  font-family: 'HenchgirlComic'


#scenario
  .scene-1
    position: relative
    background-image: url('/img/background/PageDesign-p01-bg.png')
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    background-position: center
    padding-top: 150%
    .header-section
      position: absolute
      top: 13%
      transform: translateY(-13%)
      left: 0
      right: 0
      .header-title
        font-size: 38px
        color: white
    .content
      position: absolute
      top: 28%
      transform: translateY(-28%)
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
      width: 60%
      .content-title
        font-size: 65px
        text-align: right
        padding-right: 20px
      p
        font-size: 16px
    .section-header
      position: absolute
      top: 79.5%
      transform: translateY(-79.5%)
      left: 0
      right: 0
      margin-left: auto
      margin-right: auto
      .section-text
        color: white

  .scene-2
    position: relative
    background-image: url('/img/background/PageDesign-p02-bg.png')
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    background-position: center
    padding-top: 194%
    .character-container
      width: 100%
      position: absolute
      top: 0
      .character-left
        .character
          height: 550px
      .character-right
        .character
          height: 550px






